html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Raleway', serif;

}

.body {
  
  /* background-image: url(img/background.jpg); */
  background: linear-gradient(to bottom, rgb(180, 255, 216) 10%, rgb(180, 255, 216) 50%);
  /* background: linear-gradient(to bottom, rgb(255, 185, 185) 10%, rgb(255, 185, 185) 50%); */

}

/* @keyframes toColor {
  0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  /* 75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); } */
  100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}


img.profile { 
 animation: toColor 1s;
} */

a {
  text-decoration: none;
}

/* .background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .6s;
}

.background:hover {
  opacity: .6;
  filter: blur(7px);
} */

.name {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Merriweather', serif; */
  margin-bottom: 2px;
}

.wrapper {
  /* background-color: lightpink; */
  max-width: 50%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left, .right {
  /* background-color: lightblue; */
  margin: 5px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  font-family: 'Raleway', serif;

  align-items: center;
  justify-content: center;
}

.profile {
  border-radius: 50%;
}

.links {
  font-family: 'Raleway Dots', cursive;
  list-style: none;
  padding-left: 0px;
  /* padding-top: 10px; */
  font-size: 17px;
}

.links li {
  display: inline-block;
  margin-right: 8px;
}

.links a {
  text-decoration: none;
  padding: 4px;
}

.links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
