html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Raleway', serif;
  /* font: normal 18px/25px Palatino, "Palatino Linotype", serif; */

}

.body {
  
    background: rgb(180, 255, 216);
  /* background: rgb(255, 185, 185); */

  /* background-image: url(img/background.jpg); */
  /* background: linear-gradient(to bottom, rgb(255, 185, 185) 10%, rgb(255, 185, 185) 50%); */

}

.resume {
  padding-top: 10px;
  margin-left: 80px;
}

/* @keyframes toColor {
  0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
  25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
  50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
  75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
  100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}


img.profile { 
 animation: toColor 2s;
} */ */

.name {
  margin-bottom: 2px;
}

.wrapper {
  background-color: rgb(255, 221, 226);
  border-radius: 75px;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  height: 60%;
}

.studdev {
  margin-top: -10px;
}

.left, .right {
  /* background-color: lightblue; */
  margin: 5px;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  font-family: 'Raleway', serif;

  align-items: center;
  justify-content: center;
}

.profile {
  border-radius: 50%;
}

.links {
  font-family: 'Raleway', serif;
  list-style: none;
  padding-left: 0px;
  padding-top: 30px;
  font-size: 17px;
}

.links li {
  display: inline-block;
  margin-right: 8px;
}

.links a {
  text-decoration: none;
  padding: 4px;
}

.links a:hover {
  background-color: rgba(180, 255, 216, 0.671);
  /* background-color: rgba(255, 185, 185, 0.671); */
  border-radius: 7.5px;
  transition: .5s;
}

.bios {
  margin-top: 30px;
}

.bio2 a {
  text-decoration: none;
}

.email a {
  text-decoration: none;
}
